body {
  font-family: Georgia, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.square {
  width: 60%; /* Adjust width as needed */
  height: 80%; /* Adjust height as needed */
  background-color: #ffffff; /* Change color as needed */
  padding: 20px;
  border-radius: 30px;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow-y: scroll;
}

.square::-webkit-scrollbar {
  width: 20px;
}

.square::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 4px;
}

.square::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 40px; 
}

.square::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 40px;
}

@media (max-width: 900px) {
    .square {
        width: 90%;
        height: 90%;
    }
}

.navbar {
  position: sticky;
  top: 0px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.name {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar a:hover {
  text-decoration: none;
  background-color: #555;
}

.active {
  background-color: #555;
}

.content {
  padding: 20px;
}

.sections {
  display: flex;
  align-items: flex-start; /* Align items vertically */
}

.social-icons {
  display: flex;
  align-items: flex-end; /* Align items vertically */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure loading screen is on top of everything */
  opacity: 1;
      transition: opacity 0.5s ease-in-out; /* Fade-in transition */
}

.loading-container.hide {
  opacity: 0;
  pointer-events: none; /* Prevent interaction with loading screen when hidden */
}

.spinner {
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-top: 10px solid gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

/* Hide content initially */
.content {
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in-out; /* Fade-in transition */
}

/* Show content after loading */
.content.show {
  opacity: 1;
  display: block;
}

.content img {
  max-width: 40%; /* Ensure images don't exceed container width */
  border-radius: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid layout */
  gap: 20px; /* Spacing between projects */
}

.project {
  border: 1px solid #ccc; /* Border for each project */
  border-radius: 10px;
  padding: 20px; /* Padding around each project */
}

.project img {
  display: block;
  max-width: 100%; /* Ensure images don't exceed container width */
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.project h3 {
  margin-top: 10px; /* Margin for project title */
}

.project p {
  margin-top: 5px; /* Margin for project description */
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn:hover {
  text-decoration: none;
  background-color: #555;
}

.job {
  border-radius: 10px;
  padding: 20px; /* Padding around each project */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.job-text {
  width: 70%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
    .job-text {
        width: 90%;
    }
}

.job img {
  display: block;
  width: 200px; /* Ensure images don't exceed container width */
  margin-left: auto;
  margin-right: auto;
}

#getPDF {
  display: none;
  position: fixed;
  bottom: 10%;
  right: 20%;
  z-index: 99; /* Make sure it's above other elements */
  background-color: #333; /* Blue */
  color: white;
  margin: 15px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#getPDF:hover {
  background-color: #555; /* Darker blue */
}

@media (max-width: 900px) {
    #getPDF {
        bottom: 5%;
        right: 5%;
    }
}

#notification {
  opacity: 0;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-picture {
  flex: 1;
  margin-right: 20px;
}

.profile-picture img {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.profile-details {
  flex: 2;
}